* {
  box-sizing: border-box;
  margin: 0;
  padding-left: 5px;
  text-align: center;
}


body {
  background-image: url("./images/techbgrnd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'poppins', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('./images/whitecrisscross.jpg');
    color: #E3655B;
    padding: 0px;
  }

  .brand-title {
    font-size: 1.5rem;
    margin: .5erm;
  }

 .navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  }

  .navbar-links li {
    list-style: none;
    margin: 0 1rem;
  }

  .navbar-links li a {
    text-decoration: none;
    color: #E3655B;
    font-size: 18px;
    font-weight: 300;
    display: block;
    padding: 1rem;
  }

 .navbar-links li a:hover {
  background-color: #dbd5d8;
  color: #2c2828;
  }

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  opacity: 50%;
}

.toggle-button .bar {
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;

  @media (max-width: 400px) {
    /* For a screen < 720px, this CSS will be read */
    .toggle-button {
      display: flex;
    }

   .navbar-links {
    display: none;
    }

    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.main-content {
  background-image: url("./images/whitecrisscross.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  max-width: 800px;
  padding: 24px;
  box-shadow: 2px 2px 8px darkslategray;
}

.main-content h1 {
  font-size: 2rem;
  font-weight: 300;
  color: #E3655B;
  margin: 0;
  padding: 0;
}

.main-content span {
  font-size: 1.5rem;
  font-weight: 400;
  color: #E3655B;
  margin: 0;
  padding: 0;
}

img {
  width: 200px;
  padding: 20px;
}

.image-container {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


.btn {
  text-decoration: none;
  width: 150px;
  background-color: darkslategrey;
  color: rgb(181, 122, 122);
  padding: 20px;
  font-size: 1.2rem;
}

.btn:hover {
  background-color: #b1a4a3;
  color: white;
}
.main-content p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #0f0e0e;
  opacity: 80%;
  margin: 10;
  padding: 0;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 300;
  color: #E3655B;
  margin: 10px;
  padding: 10px;
}

.footer-section p {
  font-size: 1.2rem;
  font-weight: 300;
  color: #bbadaa;
  margin: 10px;
  padding: 25px;
}

a {
  text-decoration: none;
  color: #E3655B;
  font-weight: 400;
}

h1 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #E3655B;
  margin: 10px;
  padding: 10px;
  text-shadow: 2px 2px 8px darkblue;
}

.footers {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 300;
  color: #bbadaa;
  margin: 10px;
  padding: 12px;
}
